
.main{
    margin:0 auto;
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 0 0 10px 1px #9c9c9c;
    -moz-box-shadow: 0 0 10px 1px #9c9c9c;
    box-shadow: 0 0 10px 1px #9c9c9c;
    margin-top: 90px;
}